@import "tailwindcss";

:root {
  --background: #f9fafb; 
  --foreground: #171717;
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #f3f4f6; 
    --foreground: #000000;
  } 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}